@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

body {
    background-color: #2A2727;
    color: #ffffff; /* Set default text color to white if needed */
  }
  
h1 {
    font-family: 'Inter', sans-serif;
  }