@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #2A2727;
    color: #ffffff; /* Set default text color to white if needed */
    /* margin: 0 auto; */
  }
  
h1 {
    font-family: 'Outfit', sans-serif;
  }